


    <div class="container-fluid bg-light mt-5 py-3 shadow">
        <div class="row">
            <div class="col-lg-4">
                <h3 class="title-font fw-bolder fs-3 mb-2">ShOp</h3>
                <p class="fst-italic">"Best Symfony market"</p>
                <p>
                    <a href="tel: 0600000000" class="text-muted d-inline-block text-decoration-none text-dark"> <i class="bi bi-telephone"></i> 06 00 00 00 00</a>
                </p>
                <p>
                <a href="mailto: hotelphp@me.co" class="text-muted d-inline-block text-decoration-none text-dark"> <i class="bi bi-envelope-at"></i> shop@me.com</a>

                </p>
            </div>

            <div class="col-lg-4 mt-2">
                <h5 class="mb-3">Informations</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-decoration-none text-dark">Acueil</a></li>
                    <li><a href="#" class="text-decoration-none text-dark">Produits</a></li>
                    <li><a href="#" class="text-decoration-none text-dark">Services</a></li>
                    <li><a href="#" class="text-decoration-none text-dark">Contact</a></li>
                    <li><a href="#" class="text-decoration-none text-dark">A propos</a></li>
                    <li><a href="#" class="text-decoration-none text-dark">Mentions légales</a></li>
                    <li>
                </ul>
            </div>

            <div class="col-lg-4 mt-2">
                <h5 class="mb-3">Assistance et FAQ</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-decoration-none text-dark">FAQ</a></li>
                    <li><a href="#" class="text-decoration-none text-dark">Assistance</a></li>
                    <li><a href="#" class="text-decoration-none text-dark">Contact</a></li>
                    <li><a href="#" class="text-decoration-none text-dark">Politique de confidentialité</a></li>
                    <li><a href="#" class="text-decoration-none text-dark">Conditions générales de vente</a>
                </ul>
            </div>
        </div>

        <div class="signed-by-me text-center">
            <strong>Romy-dev.me &copy; Made with
                <svg style="width:0.7rem;color:#38ef7d;" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="heart" class="svg-inline--fa fa-heart fa-w-16 text-danger mx-1" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <path fill="currentColor" d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z"></path>
                </svg>
                by me - {{"now"|date('Y')}}
            </strong>
        </div>

    </div>


