	<!-- Début carousel avec swiper JS -->

	<div class="container-fluid mt-2 ">
		<div class="swiper swiper-block" style="height: 550px;">
			<div class="swiper-wrapper">

				<div class="swiper-slide">
					<img src="assets/images/carousel/1.jpg" class="img-fluid w-100 d-block img-sizer"/>
				</div>
				<div class="swiper-slide">
					<img src="assets/images/carousel/2.jpg" class="img-fluid w-100 d-block img-sizer"/>
				</div>

				<div class="swiper-slide">
					<img src="assets/images/carousel/3.jpg" class="img-fluid w-100 d-block img-sizer"/>
				</div>
			</div>
		</div>
	</div>
	<!-- Fin carousel avec swiper JS -->