{% extends 'base.html.twig' %}

{% block title %}CGU|{{parent()}}{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1 class='text-center'>Hello conditions générales d'utilisation  ✅</h1>
    <div class="row">
        <p class='text-center'>
            Les conditions générales d'utilisation (CGU) sont un ensemble de règles qui régissent l'utilisation d'un produit ou d'un service. Elles définissent les droits et obligations des utilisateurs et des fournisseurs du produit ou du service.

Les conditions générales d'utilisation peuvent comprendre des informations sur les droits d'utilisation accordés et/ou limités, les responsabilités des utilisateurs et des fournisseurs, les restrictions d'utilisation, les conditions de fin de service, les données collectées et leurs utilisations, les remboursements et les procédures de résolution de conflits. Elles peuvent également inclure des informations sur les conditions et restrictions supplémentaires liées à une version spécifique du produit ou du service.

Les conditions générales d'utilisation sont conçues pour protéger à la fois les utilisateurs et le fournisseur du produit ou du service. Elles doivent être claires et lisibles, et doivent être mises à jour régulièrement pour refléter les changements dans les produits et services.
        </p>
    </div>
</div>
{% endblock %}
