{% extends 'base.html.twig' %}

{% block title %}Page non trouvée | {{ parent() }}{% endblock %}

{% block body %}
    <div class="container text-center my-5">
        <div class="row my-5">
            <div class="col-md-12 my-5">
                <h1 class="text-danger">Oops, cette page n'existe pas !</h1>
        <p>Nous sommes désolés, mais la page que vous cherchez est introuvable.</p>
        <p>Veuillez vérifier l'URL que vous avez saisie et réessayer. Si vous pensez qu'il s'agit d'une erreur, veuillez contacter notre équipe de support.</p>
        <a href="{{ path('app_home') }}" class="btn btn-primary mb-5">Retourner à la page d'accueil</a>
            </div>
        </div>
    </div>
{% endblock %}
