{% extends 'base.html.twig' %}

{% block title %}New Address
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h1 class='text-center m-4'>Ajouter une nouvelle adresse</h1>
			</div>
		</div>
		<div class="row">
			<div
				class="col-12">
				{# Ajoute message flashes #}
					<div class="col-6 m-auto">
					{% for message in app.flashes('warning') %}
					<div class="alert alert-warning alert-dismissible fade show text-center" role="alert">
						{{ message }}
						<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
					</div>
				{% endfor %}
					</div>
				{{ include('address/_form.html.twig') }}
			</div>

		</div>


	{% endblock %}
